.header {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #131921;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header__logo {
  width: 200px;
  object-fit: contain;
  margin: 0 20px;
  margin-top: 18px;
}

.header__nav {
  display: flex;
  justify-content: space-evenly;
}

.header__option {
  display: flex;
  flex-direction: column;
  color: white;
  margin: 0 20px;
  margin-top: 18px;
}

.header__optionLineOne {
  font-size: 10px;
}
